<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>About Us - EVTrendz</title>
    <link href="{{ url_for('static',filename='styles/styles-AboutUs.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
<header>
    <div class="navbar top-fixed">
        <img class="logo" src="../static/images/logo_cr.png">
        <nav>
            <input type="checkbox"/>
            <div class="menu-wrapper">
                <ul class="responsive-text" id="menu">
                    <div class="menulist-container">
                        <li><a href="..\home_page\index.html">Home</a></li>
                        <li><a href="..\product\jessin html and css\index.html">Products</a></li>
                        <li><a href="..\technology\evi.html">Technology</a></li>
                        <li><a href="..\Contact Us\index.html">Contact Us</a></li>
                        <li><a class="active" href="..\About Us\index.html">About</a></li>
                    </div>
                </ul>
                <svg class="caret" fill="currentColor" height="35" id="icon" viewBox="0 0 16 16"
                     width="35" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
                          fill-rule="evenodd"/>
                </svg>
            </div>

        </nav>

    </div>
</header>

<!--    ------------------ Main Content ------------------      -->

<div>
    <main>
        <section>
            <div class = "image">
				<h2>About Us</h2>
                <img src="../static/images/AboutUsCar.png" alt="Cloudy Sky">
				<p>We provide a platform with collective information which will be useful for researchers, Automobile enthusiasts, Students, and EV customers.
					Get to know various highly rated products in the market and their technologies from a single platform.</p>
            </div>

            <div class = "content">
                <h2>The Team</h2>
                <span>Let's shake the hands for a better and green future</span>

                <p>We are a group of young nature aspirants looking forward to reducing the consumption of petroleum fuels to save the earth.
				We promote the use of Electric vehicles and help the people who are looking forward to EV's by providing adequate knowledge of
				the technology and products in this sector.
				</p>

                <ul class = "links">
                    <li><a href = "..\Contact Us\index.html">Contact Us</a></li>
                </ul>

                <ul class = "icons">
                    <li>
                        <i class = "fa fa-twitter"></i>
                    </li>
                    <li>
                        <i class = "fa fa-facebook"></i>
                    </li>
					<li>
                        <i class = "fa fa-instagram"></i>
                    </li>
                </ul>
            </div>
        </section>
    </main>
</div>
<!--    ------------------ Main Content ------------------      -->

<footer class="footer">
    <div class="center">
        <div class="box top-box">
            &copy All rights reserved. Copying will result in getting snapped.
        </div>
        <div class="box">
            Social TAGs
        </div>
    </div>
</footer>

</body>
</html>