<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Review</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Home - EVTrendz</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles-main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/reviews-style.css') }}">
    <script type="text/javascript" rel="script" src="{{ url_for('static', filename = 'js/reviews-home.js') }}"></script>
</head>
<body>
<header>
    <div class="navbar top-fixed">
        <img class="logo" src="../static/images/logo_cr.png">
        <nav>
            <input type="checkbox"/>
            <div class="menu-wrapper">
                <ul class="responsive-text" id="menu">
                    <div class="menulist-container">
                        <li><a href="{{ url_for('login') }}">Home</a></li>
                        <li><a class="active" href="{{ url_for('reviews') }}">Reviews</a></li>
                        <li><a href="{{ url_for('openContactUs') }}">Contact Us</a></li>
                        <li><a href="{{ url_for('openAboutUs') }}">About</a></li>
                        {% if session["email"] == 'admin@evblog.com' %}
                        <li><a href="{{ url_for('openEnquiryPage') }}">Enquiry Page</a></li>
                        {% endif %}
                        <li><a href="{{ url_for('profile') }}">Profile</a></li>
                        <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    </div>
                </ul>
                <svg class="caret" fill="currentColor" height="35" id="icon" viewBox="0 0 16 16"
                     width="35" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
                          fill-rule="evenodd"/>
                </svg>
            </div>

        </nav>

    </div>
</header>

<main class="content">

    <div class="row">
        <div class="review-bg-box">
            <div class="border-box">
                <div class="review-column-right">
                    <h1>Edit Review</h1>
                    <h3 style="color: darkgray">*** Edits are possible for reviews you posted ***</h3>
                    <div class="input-area">
                         <div id="msg_area" style="color: darkred; font-size: 1.5rem;"></div>
                        <form action="javascript: check_id(this) ">
                            <label for="id">
                                Review ID:
                            </label>
                            <input type="text" placeholder="Enter ID. Only reviews you posted can be edited" required id="id">
                            <button type="submit" value="Check ID" class="check">Check ID</button>
                            </form>
                        <form action="javascript:edit_review() ">
                          <!--  <div>ID : <span id="review_id"></span></div>  -->
                            <textarea rows="10"
                                  cols="50"
                                  placeholder="Enter valid post ID to edit"
                                  id="review" required disabled="disabled"></textarea>
                        <br>
                        <input type="submit" value="Edit Review" name="submit" id="submit-review" disabled>

                        </form>

                    </div>

                </div>

                <!-- <button class="review-btn btn-center">Button</button> -->
            </div>
        </div>
    </div>
</main>

<!--    ------------------ Main Content - End ------------------      -->

<footer class="footer">
    <div class="center">
        <div class="box top-box">
            &copy All rights reserved. Copying will result in getting snapped.
        </div>
        <div class="box">
            Social TAGs
        </div>
    </div>
</footer>
</body>
</html>
</body>
</html>