<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Login and Registration - EVTrends </title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles_login.css') }}">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>

<body>


<!--    ------------------ Main Content - Start -------------------->
<br>

  <div class="container">

    <div class="forms">
        <div class="form-content">
		<!--    ------------------ Login Page------------------      -->
          <div class="login-form">
            <div class="title">Login</div>

          <form method=POST action="{{ url_for('login') }}">
              <div class="input-boxes">
              <div class="input-box">
                <i class="fas fa-envelope"></i>
                <input type="text" name=username placeholder="Enter your email" required>
              </div>
              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input type="password" name=pass placeholder="Enter your password" required>
              </div>

              <div class="button input-box">
                <input type="submit" value="Submit">
              </div>

            </div>
			<br>

        </form>
      </div>
    </div>


  </div>

  <!--    ------------------ Main Content ------------------      -->
  </div>

</body>

</html>
