<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv=”refresh” content=”60;profilepage.html” />
    {% with messages = get_flashed_messages() %}

   {% if messages %}
     <ul class="flashes">
        {% for message in messages %}
         <div class="message_flash">{{ message }}</div>
        {% endfor %}
    </ul>
  {% endif %}
 {% endwith %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style_profile.css') }}">


</head>
<body>

<header>
    <div class="navbar top-fixed">
        <img class="logo" src="../static/images/logo_cr.png">
        <nav>
            <input type="checkbox"/>
            <div class="menu-wrapper">
                <ul class="responsive-text" id="menu">
                    <div class="menulist-container">
                        <li><a href="{{ url_for('home') }}">Home</a></li>
                        <li><a href="{{ url_for('reviews') }}">Reviews</a></li>
                        <li><a href="{{ url_for('openContactUs') }}">Contact Us</a></li>
                        <li><a href="{{ url_for('openAboutUs') }}">About</a></li>
                        {% if session["email"] == 'admin@evblog.com' %}
                        <li><a href="{{ url_for('openEnquiryPage') }}">Enquiry Page</a></li>
                        {% endif %}
                        <li><a class="active" href="{{ url_for('profile') }}">Profile</a></li>
                        <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    </div>
                </ul>
                <svg class="caret" fill="currentColor" height="35" id="icon" viewBox="0 0 16 16"
                     width="35" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
                          fill-rule="evenodd"/>
                </svg>
            </div>

        </nav>

    </div>
</header>

    <div class="form">
        <div class="form-content">

        <form method=POST action="{{ url_for('profile') }}">
        <div class="col-md-3 border-right">
        </div>
        <div class="col-md-5 border-right">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">USER DETAILS</h4>

                </div>
            <div class="container">
                <div class="row mt-2">
                    <div class="col-md-1"><label class="labels">NAME: </label> <br> <br> <input type="text" class="form-control" placeholder="name" value="{{name}}"></div><br>
                    <div class="col-md-1"><label class="labels">EMAIL ID:</label> <br> <br> <input type="text" class="form-control" placeholder="email id" value={{email}}></div><br>
                </div>
                <div class="row mt-3">

                    <div class="col-md-1"><label class="labels">UPDATE NAME: </label> <br> <br> <input type="text" name="name" class="form-control" value="" placeholder="update name"></div><br>
                    <div class="col-md-1"><label class="labels">CONFIRM NAME: </label> <br> <br> <input type="text" name="confirm_name" class="form-control" value="" placeholder="confirm name"></div><br>
                    <div class="col-md-1"><label class="labels">PASSWORD:</label> <br> <br> <input type="password" name="password" class="form-control" placeholder="current password" value=""></div><br>
                    <div class="col-md-1"><label class="labels">UPDATE PASSWORD:</label> <br> <br> <input type="password" name="update_password" class="form-control" placeholder="new password" value=""></div><br>
                    <div class="col-md-5"><label class="labels">CONFIRM PASSWORD:</label> <br> <br> <input type="password" name="confirm_password" class="form-control" placeholder="confirm new password" value=""></div><br>
                    <div class="col-md-6"><label class="labels">MOBILE NUMBER:</label> <br> <br> <input type="tel" pattern="[789][0-9]{9}" name="mobile" class="form-control" placeholder="enter phone number" value={{mobile}}></div><br>
                    <div class="col-md-6"><label class="labels">CONFIRM MOBILE NUMBER: </label> <br> <br> <input type="tel" pattern="[789][0-9]{9}" name="confirm_mobile" class="form-control" value="" placeholder="confirm mobile number"></div><br>

                </div>
                </br>
				<div class="button input-box">
                <input name="action" type="submit" value="Submit">
                &nbsp; &nbsp; &nbsp;
                <input name="action" type="submit" value="Delete">
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
<!--                <a href="{{ url_for('login') }}">Back</a>-->

              </div>
            </div>
        </div>

            </form>
          </div>
    </div>

</div>
</body>
</html>