<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style_profile.css') }}">
</head>
<body>

<div class="container rounded bg-white mt-5 mb-5">
    <div class="form">
        <div class="form-content">


          <form method=POST action="{{ url_for('profile') }}">
        <div class="col-md-3 border-right">
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">USER DETAILS</h4>

                </div>
            </div>

                <div class="row mt-2">
                    <div class="col-md-1"><label class="labels">NAME: </label> <br> <br> <input type="text" class="form-control" placeholder="name" value= {{name}}></div><br>
                    <div class="col-md-3"><label class="labels">EMAIL ID:</label> <br> <br> <input type="text" class="form-control" placeholder="email id" value={{email}}></div><br>
                </div>
                <div class="row mt-3">

                    <div class="col-md-2"><label class="labels">UPDATE NAME: </label> <br> <br> <input type="text" name="name" class="form-control" value="" placeholder="update name"></div><br>
                    <div class="col-md-4"><label class="labels">PASSWORD:</label> <br> <br> <input type="text" name="password" class="form-control" placeholder="enter password" value=""></div><br>
                    <div class="col-md-5"><label class="labels">UPDATE PASSWORD:</label> <br> <br> <input type="text" name="update_password" class="form-control" placeholder="update password" value=""></div><br>
                    <div class="col-md-6"><label class="labels">MOBILE NUMBER:</label> <br> <br> <input type="text" name="mobile" class="form-control" placeholder="enter phone number" value=""></div><br>
                </div>

				<div class="button input-box">
                <input type="submit" value="Sumbit">
              </div>

            </div>
            </form>
          </div>

</div>
</body>
</html>