<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Reviews</title>
    {#    <link href="../static/styles/styles-main.css" rel="stylesheet" type="text/css">#}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles-main.css') }}">
    {#    <script type="text/javascript" rel="script" src="{{ url_for('static', filename = 'js/reviews.js') }}"></script>#}
</head>
<body>
<header>
    <div class="navbar top-fixed">
        <img class="logo" src="../static/images/logo_cr.png">
        <nav>
            <input type="checkbox"/>
            <div class="menu-wrapper">
                <ul class="responsive-text" id="menu">
                    <div class="menulist-container">
                        <li><a class="active" href="#">Reviews</a></li>
                        <li><a href="#">Products</a></li>
                        <li><a href="#">Technology</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">About</a></li>
                    </div>
                </ul>
                <svg class="caret" fill="currentColor" height="35" id="icon" viewBox="0 0 16 16"
                     width="35" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
                          fill-rule="evenodd"/>
                </svg>
            </div>

        </nav>

    </div>
</header>

<!--    ------------------ Main Content - Start ------------------      -->

{#<div class="container">#}
{#    <div class="banner-img">#}
{#        <div class="banner-text">#}
{#            <h1>Go Electric</h1>#}
{#            <h3>Choose The Cleaner <span class="green">Eco Friendly </span>Option.</h3>#}
{#        </div>#}
{#    </div>#}

<main class="content">
    <section class="responsive-text">
        <div class="row">
            <div class="column-left flex-main">
                <h1 class="p-title">
                    User Reviews
                    <hr class="hr1">
                </h1>
                <br>

                {#                <p style="text-align: left">#}
                {#                    <span class="big-letter">E</span>lectric vehicles are the go-to alternative in the future.#}
                {#                    Skyrocketing prices of petrol and#}
                {#                    diesel and the concerns of long-term environmental issues have sparked a general trend towards#}
                {#                    all-electric vehicles. The number of EVs on our streets has significantly grown to almost about#}
                {#                    5 million in 2019. With the likes of tesla mass producing electric autos and decreasing prices#}
                {#                    will make EVs an everyday sight on the roads.#}
                {#                </p>#}
            </div>
            {#            <div class="column-right flex-sub">#}
            {#                <figure>#}
            {#                    <img src="../static/images/evtrendz-green.png" class="img-content-side right" alt="chart"/>#}
            {#                </figure>#}
            {##}
            {#            </div>#}
        </div>
    </section>
    <section class="responsive-text">
        {#        <h1 class="p-title center eco-green">User Reviews</h1>#}
        {% for item in list_data %}
            <div class="row">
                <div class="column-left content-left-margin flex-main">
                    <div class="box-content">

                        {##}
                        {#                        <i>Instant torque delivered by electric motors.<br>#}
                        {#                            Faster Acceleration than any gas cars similarly priced.#}
                        {##}
                        {#                            <p>Because electric motors deliver full torque right away,#}
                        {#                                unlike internal combustion engines that need to gear up.</p>#}


                        <h2 class="sub-title">
                            <span id="user">{{ item['name'] }}</span>
                        </h2>
                        <br>
                        <p>
                            <b>
                                <span id="brand">{{ item['brand'] }}</span>
                                :&nbsp&nbsp
                                <span id="model">{{ item['model'] }}</span>
                            </b>
                            <br>
                            <i id="data" class="uname">{{ item['review_text'] }}</i>
                        </p>


                    </div>
                </div>
                {#            <div class="column-right center flex-sub">#}
                {#                <figure>#}
                {#                    <img src="../static/images/rimac_nevera_img.png" alt="fastest-car" class="right round-img"/>#}
                {#                </figure>#}
                {#            </div>#}
            </div>

            <hr class="hr2-right">
        {% endfor %}
    </section>
</main>

<!--    ------------------ Main Content - End ------------------      -->

<footer class="footer">
    <div class="center">
        <div class="box top-box">
            &copy All rights reserved. Copying will result in getting snapped.
        </div>
        <div class="box">
            Social TAGs
        </div>
    </div>
</footer>

</body>
</html>