@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Playfair Display', serif;
    display: grid;
    background-color: #f4f4f4;
    align-content: center;
    min-height: 100vh;
}

:root {
    --eco: #5CDB95;
    --off-white: #f7f7f7;
    --cap-violet: #3f48cc;
    --hr-blue: #05386b
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right{
    text-align: right;
}

.eco-green {
    color: var(--eco);
}

/*-------------------------------------*/
/*      >>> Header Styles <<<          */
/*-------------------------------------*/

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    box-shadow: 0 0 6px 3px lightgray;
    /*margin-bottom: 3rem;*/
    background-color: white;
    font-family: 'Source Sans Pro', sans-serif;
    z-index: 2;
}

.top-fixed {
    /* For Sticky Navbar */
    position: fixed;
    top: 0;
}

.logo {
    width: 125px;
    margin: 5px 0;
    cursor: pointer;
}

nav {
    flex: 1;
    text-align: right;
    /* font-weight: bold; */
}

nav ul {
    /*max-height: 192px;*/
    padding-bottom: 1rem;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin-right: 30px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    padding: 0.6rem 1rem;
    border-radius: 3px;
    transition: 0.3s;
}

nav ul li a:hover {
    background-color: var(--off-white);
    transition: 0.3s;
}

nav ul li a.active {
    color: var(--eco);
}

.caret {
    display: none;
}

.menulist-container {
    margin-top: 2vh;
}

nav input {
    display: none;
}


/*--------------------------------------*/
/*       >>> Content Styles <<<         */
/*--------------------------------------*/

.container {
    top: 80px;
}

main {
	margin-top:80px;
    font-family:  Cambria, "Times New Roman", Times, serif;
    /*font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;*/
}






/*-------------------------------------*/
/*       >>> Footer Styles <<<         */
/*-------------------------------------*/

.footer {
    margin-bottom: 0;
    position: relative;
    max-height: 10rem;
    background-color: black;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}

.box {
    margin: 0.5rem 0.5rem 0;
    padding: 0.5rem 0.5rem 1rem;
}

.top-box {
    padding-top: 1.5rem;
}

body{
    font-family: 'Playfair Display', serif;
    display: grid;
    background-color: #f4f4f4;
    align-content: center;
    min-height: 100vh;
}
section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 90vh;
    width: 85vw;
    margin: 0 auto;
}
.maparea{
    background: #fff;
	display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;	
}
.map{
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 1%;
	margin-bottom: 1%;
	width:98%;
	height:100%;
}
.container h2{
    text-transform: uppercase;
    font-size: 36px;
    letter-spacing: 6px;
    opacity: 0.9;
	text-align: center;
}



.links{
    margin: 15px 0;
}
.links li{
    border: 0.5px solid #777;
    list-style: none;
    border-radius: 5px;
    padding: 10px 15px;
    width: 160px;
    text-align: center;
}
.links li a{
    text-transform: uppercase;
    color: #777;
    text-decoration: none;
}
.links li:hover{
    border-color: black;
}
.links li:hover a{
    color :black;
}
.vertical-line{
    height: 30px;
    width: 0.5px;
    background: #777;
    margin: 0 auto;
}
.icons{
    display: flex;
    padding: 15px 0;
}
.icons li{
    display: block;
    padding: 5px;
    margin: 5px;
}
.icons li i{
    font-size: 26px;
    opacity: 0.8;
}
.icons li i:hover{
    color: gray;
}




/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 6px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 0px; /* Add a top margin */
  margin-bottom: 6px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.submit{
    text-transform: uppercase;
    color: #777;
    text-decoration: none;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  background-color : #5CDB95;
  padding: 20px;

}

address
{
	font-style: normal;
	font-size: 70%;
	font-family: ui-rounded;
	text-align: left;
	opacity: 0.7;
}

label{
	opacity: 0.7;
}



/*-------------------------------------*/
/*       >>> Media Queries <<<         */
/*-------------------------------------*/

/*----------------------------------------------*/
/*       >>> Media Queries - Tablet <<<         */
/*----------------------------------------------*/

@media only screen and (max-width: 906px) {

    /*-------------------------------------*/
    /*      >>> Header Styles <<<          */
    /*-------------------------------------*/
    .navbar {
        position: relative;;
        background-color: transparent;
        /*border-bottom: 1px solid black;*/
        box-shadow: 0 0 3px 3px lightgray;
    }

    nav ul {
        width: 100%;
        position: absolute;
        top: 80px;
        right: 0;
        z-index: 2;
        background-color: var(--off-white);
        text-align: center;
        padding-bottom: 0;
    }

    nav input {
        display: inline-block;
        width: 40px;
        height: 32px;
        transform: translate(-140%, 0%);
        position: fixed;
        opacity: 0;
        z-index: 2;
    }

    nav input + div.menu-wrapper > ul#menu {
        opacity: 0;
        max-height: 0;
        min-height: 0;
    }

    nav input:checked + div.menu-wrapper > ul#menu {
        opacity: 1;
        min-height: 50vh;
        max-height: 50vh;
        transition: 0.5s;
    }

    nav input:checked + div.menu-wrapper > svg#icon {
        transform: rotate(90deg);
        fill: var(--eco);
        transition: 0.5s;
    }

    #menu {
        overflow: hidden;
        transition: 0.7s;
        box-shadow: 0 1px 2px 1px lightgray;
    }

    .menulist-container {
        margin-top: 30px;
    }

    nav ul li {
        display: block;
        padding-bottom: 20px;
    }

    nav ul li a {
        padding: 0.7rem 2rem;
        font-weight: bold;
    }

    nav ul li a.active {
        background-color: transparent;
        color: var(--eco);
        /* font-weight: bold; */
    }

    nav ul li a:hover {
        background-color: var(--eco);
        color: white;
    }

    .caret {
        width: 2.5rem;
        transform: rotate(180deg);
        display: inline-block;
        margin-right: 1rem;
        transition: transform .5s;
    }

    .click {
        transform: rotate(90deg);
        fill: var(--eco);
        transition: 0.5s;
    }


    /*--------------------------------------*/
    /*       >>> Content Styles <<<         */
    /*--------------------------------------*/

    

   

    /*START---------------- Integrated From About US */

    section{
        grid-template-columns: 1fr;
        width: 100%;
    }
    .maparea{
        height: 100%;
    }
    
    .links li a{
        font-size: 14px;
    }
    .links{
        margin: 5px 0;
    }
    .links li{
        padding: 6px 10px;
    }
    .icons li i{
        font-size: 15px;
    }

    /*END--------------- Integrated From About US */

}
/*----------------------------------------------*/
/*       >>> Media Queries - Mobile <<<         */
/*----------------------------------------------*/
@media only screen and (max-width: 600px) {
     /*START---------------- Integrated From About US */
     section{
        grid-template-columns: 1fr;
        width: 100%;
    }
    .maparea{
        height: 100%;
    }
    
    .links li a{
        font-size: 14px;
    }
    .links{
        margin: 5px 0;
    }
    .links li{
        padding: 6px 10px;
    }
    .icons li i{
        font-size: 15px;
    }
 /*END---------------- Integrated From About US */
}

/*-------------------------------------------*/
/*       >>> Media Queries - End <<<         */
/*-------------------------------------------*/



