body {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
}

.form-control:focus {
    box-shadow: none;
    border-color: #5CDB95
}

.profile-button {
    background: #5CDB95;
    box-shadow: none;
    border: none
}

.container{
  position: relative;
  max-width: 350px;
  width: 100%;
  background-image: linear-gradient(to right, aquamarine , lightgreen);
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
  perspective: 2700px;
  margin-left: 420px;
  padding-bottom: 20px;
}

.profile-button:hover {
    background: #5CDB95
}

.profile-button:focus {
    background: #5CDB95;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}


.message_flash {
      color: mediumblue;
      position: fixed;
      top: 15px;
      left: 550px;
}

.labels {
    font-size: 15px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}

h1 
{text-align: center;
    
	color: grey;
	font-weight: bold;

}

p {text-align: left;}
div {
    text-align: center;
    padding-left:10px;
	color: black;
	font-weight: bold;
	


}

.save{
	text-align: center-left;
	font-size: 50px;
	color: black;
	
}

.col-md-1{
	text-align:left;
    padding-left:50px;
	padding-top: 10px;
	font-weight: bold;
color: black;
	 
}

.col-md-2{
	text-align:left;
    padding-left:50px;
	padding-top: 20px;
	 color: black;
	 font-weight: bold;
}

.col-md-3{
	text-align:left;
    padding-left:50px;
	padding-top: 20px;
	 color: black;
}

.col-md-4{
	text-align:left;
    padding-left:50px;
	padding-top: 20px;
	color: black; 
	font-weight: bold;
}

.col-md-5{
	text-align:left;
    padding-left:50px;
	padding-top: 1px;
	color: black; 
	font-weight: bold;
}

.col-md-6{
	text-align:left;
    padding-left:50px;
	padding-top: 20px;
	 color: black;
	 font-weight: bold;
}